{% extends "base.html" %}
{% block content %}

<header class="text-black text-center py-5" style="background: rgba(0, 9, 92, 0.404); border-radius: 10px;">
    <div class="container">
        <div class="jumbotron mt-2">
            <h1 class="display-6">About Us</h1>
            <p class="paragraph">
                <h4 style="text-align: left;">Who We Are</h4>
                We are two passionate developers working together to create simple yet powerful tools to enhance productivity. Our goal is to make it easier for people to manage their tasks efficiently and stay organized.
                
                <h4 style="text-align: left;">Our Mission</h4>
                We believe that everyone deserves a straightforward way to track their tasks and accomplish their goals. Our To-Do website is designed with ease of use in mind, so you can focus on what matters most—getting things done.
                
                <h4 style="text-align: left;">Why We Built This</h4>
                We understand the challenges of managing multiple tasks and projects. That’s why we created this website—to provide a clean, user-friendly platform for organizing your daily life. Whether you’re handling personal tasks or managing a team, our tool offers the flexibility you need.
                
                <h4 style="text-align: left;">Our Vision</h4>
                We envision a world where everyone can achieve their goals without being overwhelmed by clutter.
                Our aim is to continuously improve our tool to serve users better, helping them boost productivity and accomplish more.</p>
        </div>
    </div>
</header>

<!-- <div class="content-section">
    <h3>Meet the Team</h3>
    <ul>
        <li><strong>Jawad from Morocco</strong></li>
        <ul>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/jawadkatten/">https://www.linkedin.com/in/jawadkatten/</a></li>
            <li>GitHub: <a href="https://github.com/jawkat">https://github.com/jawkat</a></li>
        </ul>
        <li><strong>Abdelrahman from Egypt</strong></li>
        <ul>
            <li>LinkedIn: [LinkedIn Link]</li>
            <li>GitHub: [GitHub Link]</li>
            <li>Twitter: [Twitter Link]</li>
        </ul>
    </ul>
</div> -->

        <!-- <div class="content-section">
            <h3>Project Repository</h3>
                <p>You can find the source code for TaskManager on our GitHub repository <a href="https://github.com/jawkat/project_alx">here</a>.</p>

                <p>Thank you for taking the time to learn about TaskManager. We hope you find it as helpful and empowering as we do!</p> -->
    </div>
</div>
{% endblock content %}
