{% extends "base.html" %}
{% block title %}
SignUp
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <form>

        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname">
        </div>

        <div class="mb-3">
            <label for="secondname" class="form-label">Last Name</label>
            <input type="dropdown" class="form-control" id="secondname">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone number</label>
            <input type="tel" class="form-control" id="secondname" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
        </div>

        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
        <label for="Password1" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password1" >
        </div>

        <div class="mb-3">
        <label for="Password2" class="form-label">Password Confermation</label>
        <input type="password" class="form-control" id="Password2" >
        </div>

        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="privacy">
        <label class="form-check-label" for="privacy">Terms of usage</label>
        </div>

        <button type="submit" class="btn btn-primary" style="background-color: #d1fcd8cb; border:0; color:black;">Submit</button>
    </form>
</div>
{%endblock%}